<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Tasty Nepal - O nas</title>

		<!-- Bootstrap -->
		<link href={{ url_for('static', filename="css/bootstrap.min.css") }} rel="stylesheet">

		<!-- Google Web Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">

		<!-- Template CSS Files  -->
		<link href={{ url_for('static', filename="font-awesome/css/font-awesome.min.css") }} rel="stylesheet">
		<link href={{ url_for('static', filename="js/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css") }} rel="stylesheet">
		<link href={{ url_for('static', filename="js/plugins/magnific-popup/magnific-popup.css") }} rel="stylesheet">
		<link href={{ url_for('static', filename="css/style.css") }} rel="stylesheet">
		<link href={{ url_for('static', filename="css/responsive.css") }} rel="stylesheet">

	</head>
	<body>
	<!-- Header Wrap Starts -->
        <header class="main-header parallax">
		<!-- Top Bar Starts -->
			<div class="top-bar">
			<!-- Nested Container Starts -->
				<div class="container clearfix text-xs-center text-sm-center text-lg-left">
				<!-- Social Media Links Starts -->
					<ul class="list-unstyled list-inline top-sm-links float-lg-left">
						<li class="list-inline-item"><a href="https://www.facebook.com/Sagarmatha-Kuchnia-Nepalska-1632549953431937/"><i class="fa fa-facebook circle animation"></i></a></li>
					</ul>
				<!-- Social Media Links Ends -->
				<!-- Top Links Starts -->
					<ul class="list-unstyled list-inline top-links float-lg-right text-lg-right">
						<li class="list-inline-item"><i class="fa fa-phone"></i> +48 410 111 000</li>
						<li class="list-inline-item"><i class="fa fa-map-marker"></i> ul. Pomidorowa 15</li>
						<li class="list-inline-item"><i class="fa fa-envelope"></i> <a href="contact.html">tastynepalkuchnia@gmail.com</a></li>
					</ul>
				<!-- Top Links Ends -->
				</div>
			<!-- Nested Container Ends -->
			</div>
		<!-- Top Bar Ends -->
		<!-- Navbar Starts -->
			<nav id="nav" class="navbar navbar-expand-md rounded-0">
			<!-- Container Starts -->
				<div class="container">
				<!-- Navbar Brand & Toggler Starts -->
					<a href="index.html" class="navbar-brand">
						<img src={{ url_for('static', filename="images/logo.png") }} alt="Coffee_Bingo" class="img-fluid">
					</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon fa fa-bars"></span>
					</button>
				<!-- Navbar Brand & Toggler Ends -->
				<!-- Navbar Collapse Starts -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item"><a href="index.html" class="nav-link">Strona Główna</a></li>
							<li class="nav-item current"><a href="about.html" class="nav-link">O nas</a></li>
							<li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
							<li class="nav-item"><a href="contact.html" class="nav-link">Kontakt</a></li>
						</ul>
					</div>
				<!-- Navbar Collapse Ends -->
				</div>
			<!-- Container Ends -->
			</nav>
		<!-- Navbar Ends -->
		<!-- Page Heading Starts -->
            <h1 class="page-heading"><span>O nas</span></h1>
        <!-- Page Heading Ends -->
		</header>
	<!-- Header Wrap Ends -->

    {% if "aboutIntroSection" in sections_to_show %}
	<!-- About Intro Section Starts (Able to delete but not looking well if comments are below) -->
		<section class="section">
        <!-- Nested Container Starts -->
            <div class="container text-xs-center text-sm-center text-md-left">
            <!-- Nested Row Starts -->
                <div class="row">
                <!-- Image Starts -->
                    <div class="col-md-5 col-sm-12 text-xs-center text-sm-center text-md-left">
                        <img src={{ url_for('static', filename="images/about/image1.jpg") }} alt="About_Image" class="img-fluid br-5 img-style-1">
                    </div>
                <!-- Image Ends -->
                <!-- Spacer For Small Screens Starts -->
                    <div class="w-100 d-xs-block d-sm-block d-md-none">
                        <div class="spacer-small"></div>
                    </div>
                <!-- Spacer For Small Screens Ends -->
                <!-- Intro Content Starts -->
                    <div class="col-md-7 col-sm-12"><br><br>
                        <h2 class="heading-1 text-weight-normal"><span class="text-weight-light">Pyszna</span> Nepalska kuchnia</h2>
                        <p>Założona w 2012 roku, serwująca najlepsze i pyszne nepalskie / indyjskie jedzenie od tego czasu. Jesteśmy naprawdę dumni z tego, że jesteśmy jedną z najbardziej preferowanych azjatyckich restauracji dla kilku lokalnych polskich klientów w Warszawie.</p>
                    </div>
                <!-- Intro Content Ends -->
                <!-- Spacer Starts -->
                    <div class="col-12"><div class="spacer-medium"></div></div>
                <!-- Spacer Ends -->
                <!-- Spacer For Small Screens Starts -->
                    <div class="w-100 d-xs-block d-sm-block d-md-none">
                        <div class="spacer-small"></div>

            <!-- Nested Row Ends -->
            <!-- Spacer Starts -->
                <div class="spacer-small"></div>
            <!-- Spacer Ends -->
            </div>
        <!-- Nested Container Ends -->
        </section>
    <!-- About Intro Section Ends -->
    {% endif %}

    {% if "aboutTestimonialSection" in sections_to_show %}
    <!-- Testimonial Section Starts (Able to delete but colors are to bright on the site without them) -->
        <section class="section section-inverse section-testimonials parallax">
        <!-- Nested Container Starts -->
            <div class="container text-center">
            <!-- Heading Starts -->
                <h1 class="text-center">Komentarze klientów</h1>
            <!-- Heading Ends -->
            <!-- Testimonial Carousel Starts -->
                <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
                <!-- Indicators Starts -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-testimonials" data-slide-to="0" class="active rounded-circle"></li>
                        <li class="rounded-circle" data-target="#carousel-testimonials" data-slide-to="1"></li>
                        <li class="rounded-circle" data-target="#carousel-testimonials" data-slide-to="2"></li>
                    </ol>
                <!-- Indicators Ends -->
                <!-- Wrap For Slides Starts -->
                    <div class="carousel-inner" role="listbox">
                    <!-- Item #1 Starts -->
                        <div class="carousel-item active">
                            <p><em>Jedzenie genialne, pyszne, aromatyczne, cudownie przyprawione, zaskakujące! Do tego duże porcje, uczciwe ceny i miła, kameralna atmosfera. Żadna inna restauracja nie wkłada w dania tyle serca. Zakochałam się!</em></p>
                            <h6 class="text-weight-bold">Katarzyna Pająk</h6>
                        </div>
                    <!-- Item #1 Ends -->
                    <!-- Item #2 Starts -->
                        <div class="carousel-item">
                            <p><em>Jestem stałym gościem. Smak niezmienny od lat! Dania przygotowane z sercem. Gorąco polecam autentyczna knajpka!!</em></p>
                            <h6 class="text-weight-bold">MICHAŁ ZIELIŃSKI</h6>
                        </div>
                    <!-- Item #2 Ends -->
                    <!-- Item #3 Starts -->
                        <div class="carousel-item">
                            <p><em>Kapitalne jedzenie. Świeże, dobrej jakości, aromatyczne i bardzo smaczne. Właściciele to przemili ludzie. Bardzo dobra - jeżeli nie najlepsza - kuchnia nepalska w Warszawie. Polecam!</em></p>
                            <h6 class="text-weight-bold">Marta P.</h6>
                        </div>
                    <!-- Item #3 Ends -->
                    </div>
                <!-- Wrap For Slides Ends -->
                </div>
            <!-- Testimonial Carousel Ends -->
            </div>
        <!-- Nested Container Ends -->
        </section>
    <!-- Testimonial Section Ends -->
    {% endif %}

    {% if "aboutStaffSection" in sections_to_show %}
    <!-- Staff Section Starts (Able to delete but need to change gradient fades) -->
        <section class="section">
        <!-- Nested Container Starts -->
            <div class="container text-center">
            <!-- Heading Starts -->
                <h1 class="text-center">Poznaj naszą załogę</h1>
            <!-- Heading Ends -->
            <!-- Spacer Starts -->
                <div class="spacer-tiny"></div>
            <!-- Spacer Ends -->
            <!-- Staff Profiles Starts -->
                <div class="row">
                <!-- Bio Box #1 Starts -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bio-box-1">
                            <img src={{ url_for('static', filename="images/about/image6.jpg") }} alt="Profile Image 1" class="img-fluid img-center bio-thumb br-5">
                            <h6 class="text-weight-bold text-uppercase text-spl-color">Bishnu Pandey</h6>
                            <p class="text-weight-light">Nasz szef kuchni Bishnujee jest specjalistą w kuchni nepalskiej, indyjskiej i chińskiej z ponad 10-letnim doświadczeniem w Nepalu, Indiach i Polsce. Smak jedzenia z jego magicznych rąk sprawi, że będziesz tu wracać!.</p>
                        </div>
                    </div>
                <!-- Bio Box #1 Ends -->
                <!-- Bio Box #2 Starts -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="bio-box-1">
                            <img src={{ url_for('static', filename="images/about/image7.jpg") }} alt="Profile Image 2" class="img-fluid img-center bio-thumb br-5">
                            <h6 class="text-weight-bold text-uppercase text-spl-color">Dhadhi Ram Sapkota</h6>
                            <p class="text-weight-light">Nasz szef kuchni Ramjee (tak go nazywamy) specjalizuje się w kuchni nepalskiej i indyjskiej. Ma szerokie doświadczenie w branży restauracyjnej od około 23 lat. Pracował w Nepalu, Indiach i Polsce.</p>
                        </div>
                    </div>
                <!-- Bio Box #2 Ends -->
                </div>
            <!-- Staff Profiles Ends -->
            <!-- Spacer Starts -->
                <div class="spacer-extra-tiny"></div>
            <!-- Spacer Ends -->
            </div>
        <!-- Nested Container Ends -->
        </section>
    <!-- Staff Section Ends -->
    {% endif %}
    
	<!-- Footer Starts -->
		<footer class="main-footer">
		<!-- Nested Container Starts -->
			<div class="container text-xs-center text-sm-center text-md-left">
			<!-- Nested Row Starts -->
				<div class="row">
				<!-- About Col Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="footer-col">
							<h4 class="text-uppercase">O nas</h4>
							<p class="text-weight-light">
								Pyszna kuchnia nepalsko-indyjska. Zapraszamy!
							</p>
						<!-- Address Starts -->
							<ul class="list-unstyled address-list text-weight-light">
								<li class="clearfix">
									<i class="fa fa-map-marker"></i>
									ul. Pomidorowa 15 Warszawa
								</li>
								<li class="clearfix">
									<i class="fa fa-phone"></i>
									 +48 410 111 000
								</li>
								<li class="clearfix">
									<i class="fa fa-envelope"></i>
									 <a href="mailto:sagarmathakuchnia@gmail.com">tastynepalkuchnia@gmail.com</a>
								</li>
							</ul>
						<!-- Address Ends -->
						</div>
					</div>
				<!-- About Col Starts -->
                    <div class="col-lg-3 col-md-6 col-sm-12">
						<!-- empty column starts-->
                        <div class="footer-col">
							<h4 class="text-uppercase"> </h4>
                        </div>
                        <!-- empty column ends-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
						<!-- empty column starts-->
                        <div class="footer-col">
							<h4 class="text-uppercase"> </h4>
                        </div>
                        <!-- empty column ends-->
                    </div>
				<!-- Business Hours Starts -->
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="footer-col">
							<h4 class="text-uppercase">Godziny otwarcia</h4>
						<!-- Business Hours Starts -->
							<ul class="list-unstyled hours-list">
								<li class="clearfix">
									<span class="float-md-left">
										Pon-Pt
									</span>
									<span class="float-md-right text-md-right text-sm-center">
										11.00 - 21.00
									</span>
								</li>
								<li class="clearfix">
									<span class="float-md-left">
										Sob-Nd
									</span>
									<span class="float-md-right text-md-right text-sm-center">
										11.00 - 21.00
									</span>
								</li>
							</ul>
						<!-- Business Hours Ends -->
						</div>
					</div>
				<!-- Business Hours Starts -->
				<!-- Clearfix For Small Devices Starts -->
					<div class="w-100 d-xs-block d-sm-block d-md-none"></div>
				<!-- Clearfix For Small Devices Ends -->

				</div>
			<!-- Nested Row Ends -->
			<!-- Copyright Starts -->
				<div class="copyright text-center">
					&copy; 2018 <strong>Coffee Bingo</strong> All Rights Reserved. Template By <a href="http://sainathchillapuram.com" class="text-weight-bold">Sainath Chillapuram</a>
				</div>
			<!-- Copyright Ends -->
			</div>
		<!-- Nested Container Ends -->
		</footer>
	<!-- Footer Ends -->
	<!-- Template JS Files -->
	<script src={{ url_for('static', filename="js/jquery-3.3.1.min.js") }}></script>
	<script src={{ url_for('static', filename="js/popper.min.js") }}></script>
	<script src={{ url_for('static', filename="js/bootstrap.min.js") }}></script>
	<script src={{ url_for('static', filename="js/plugins/datetimepicker/js/moment-with-locales.min.js") }}></script>
	<script src={{ url_for('static', filename="js/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js") }}></script>
	<script src={{ url_for('static', filename="js/plugins/shuffle/jquery.shuffle.modernizr.min.js") }}></script>
	<script src={{ url_for('static', filename="js/plugins/magnific-popup/jquery.magnific-popup.min.js") }}></script>
	<script src={{ url_for('static', filename="js/custom.js") }}></script>
	</body>
</html>